.riders-card {
    border-radius: 0px;
    background-color: #743778;
    color: #fff;
}

.rider-title {
    text-transform: capitalize;
    color: #fff;
    margin-top: 20px;
}

.table-color {
    color: #fff; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}